body{
  margin:0;
  background:#0f172a;
  color:white;
  font-family:Arial,sans-serif;
}

header{
  text-align:center;
  padding:25px;
  background:#111827;
}

.dashboard{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin:20px;
}

.card{
  background:#1e293b;
  width:180px;
  padding:20px;
  border-radius:15px;
  text-align:center;
}

#map{
  width:100%;
  height:500px;
}
