body{
  margin:0;
  background:#0f172a;
  color:white;
  font-family:Arial,sans-serif;
}

header{
  text-align:center;
  padding:30px;
  background:#111827;
}

.dashboard{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:30px;
}

.card{
  width:180px;
  padding:20px;
  border-radius:15px;
  background:#1e293b;
  text-align:center;
}

.card h2{
  margin-bottom:10px;
}
